<footer class="footer">

<div class="footer-item">
      <%= link_to new_game_path, class: "nav-link" do %>
       <%= image_tag("new_run.svg", alt: "Notif Icon", size: "30x30") %>
        <br>
        <span>NEW GAME</span>
      <% end %>
    </div>
    <div class="footer-item">
        <%= link_to new_game_path, class: "nav-link" do %>
            <%= image_tag("home.svg", alt: "Notif Icon", size: "30x30") %>
            <br>
           <span>HOME</span>
       <% end %>
    </div>

    <div class="footer-item">
        <%= link_to new_game_path, class: "nav-link" do %>
          <%= image_tag("your_runs.svg", alt: "Notif Icon", size: "30x30") %>
          <br>
          <span>YOUR GAMES</span>
       <% end %>
    </div>

</footer>
