<footer class="footer">
        <div class="footer-item">
            <%= link_to "#", class: "navbar-logo" do %>
             <%= image_tag "logo_rn.svg", alt: "logo Icon", size: "24x24" %>
            <% end %>
            <span>Home</span>
        </div>
        <div class="footer-item">
<%= link_to "#", class: "navbar-logo" do %>
             <%= image_tag "logo_rn.svg", alt: "logo Icon", size: "24x24" %>
            <% end %>            <span>Your Games</span>
        </div>
        <div class="footer-item">
<%= link_to "#", class: "navbar-logo" do %>
             <%= image_tag "logo_rn.svg", alt: "logo Icon", size: "24x24" %>
            <% end %>            <span>New Game</span>
        </div>
    </footer>
