<footer class="footer">
  <div class="footer-item">
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag "logo_rn.svg", alt: "logo Icon", size: "24x24" %>
    <% end %>
    <span>Home</span>
  </div>
  <div class="footer-item">
    <%= link_to mine_games_path, class: "navbar-logo" do %>
      <%= image_tag "logo_rn.svg", alt: "Your Games Icon", size: "24x24" %>
    <% end %>
    <span>My Games</span>
  </div>
  <div class="footer-item">
    <%= link_to new_game_path, class: "nav-link" do %>
      <%= image_tag "notif_icon.svg", alt: "Notif Icon", size: "30x30" %>
      <br>
      <span>New Game</span>
    <% end %>
  </div>
</footer>
