<nav class="navbar">

    <div class="back-button">
    <%= link_to "javascript:history.back()", class: "nav-link mr-2", aria: { label: "Go back" } do %>
      <%= image_tag("back.svg", alt: "Back", size: "30x30") %>
    <% end %>
  </div>

  <div class="user-icon <%= 'active' if current_page?(profile_path) %>">
    <%= link_to profile_path, class: "nav-link" do %>
    <% if current_page?(profile_path) %>
      <%= image_tag("profile2.svg", alt: "profil orange Icon", size: "30x30") %>
      <% else %>
        <%= image_tag("profile.svg", alt: "profil  Icon", size: "30x30") %>
      <% end %>
    <% end %>
  </div>

<% if params[:controller] == "games" && params[:action] == "show" %>
    <% current_game = Game.find_by(id: params[:id]) %>
    <% if current_game&.status == "ongoing" %>
      <div class="navbar-item refresh-icon">
        <%= link_to update_runs_game_path(current_game), data: { turbo_method: :post } do %>
          <%= image_tag("refresh.svg", alt: "Refresh", size: "30x30") %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="nav-logo">
    <%= link_to "#", class: "navbar-logo" do %>
      <%= image_tag "logo_rn.svg", alt: "logo Icon", size: "40x40", class: "rounded-3" %>
    <% end %>
  </div>

  <% if params[:controller] == "games" && params[:action] == "show" %>
    <% current_game = Game.find_by(id: params[:id]) %>
    <% if current_game&.status == "ongoing" %>
      <div class="chat-icon">
        <%= link_to chat_game_comments_path(current_game), class: "nav-link" do %>
          <%= image_tag("msg.svg", alt: "msg Icon", size: "30x30") %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="notif-icon">
    <%= link_to new_player_session_path, class: "nav-link" do %>
      <%= image_tag("notif.svg", alt: "Notif Icon", size: "30x30") %>
    <% end %>
  </div>
</nav>
