<div class="loading-container flex-column" data-controller="page">
  <!-- Logos tournants -->
  <div class="rotating-logos">
    <img src="<%= asset_path('logo1.png') %>" alt="Logo Step 1" class="logo-step logo-step-1">
    <img src="<%= asset_path('logo2.png') %>" alt="Logo Step 2" class="logo-step logo-step-2">
    <img src="<%= asset_path('logo3.png') %>" alt="Logo Step 3" class="logo-step logo-step-3">
  </div>

  <!-- Contenu affiché immédiatement si connecté -->
  <% if player_signed_in? %>
    <% if @player&.token.nil? %>
      <div class="button-container">
        <%= link_to auth_strava_path do %>
          <%= image_tag 'stravabutton.png', alt: 'Connect with Strava' %>
        <% end %>
        <%= link_to "SKIP FOR NOW", mine_games_path, class: "btn skip-button" %>
      </div>
    <% else %>
    <%= link_to "Strava already connected", mine_games_path, class: "text-white text-decoration-none" %>
    <% end %>
  <% else %>
    <!-- Redirection vers la page de connexion après 3 secondes -->
    <script>
      setTimeout(function() {
        window.location.href = "<%= new_player_session_path %>";
      }, 3000); // Redirige après 3 secondes
    </script>
  <% end %>


</div>
