<div class="main-content">
  <div data-controller="tabs">
    <ul class="tab-titles">
      <li>
        <a href="#" data-action="tabs#selectTab" data-tabs-target="tab">Ongoing</a>
      </li>
      <li>
        <a href="#" data-action="tabs#selectTab" data-tabs-target="tab">Pending</a>
      </li>
      <li>
        <a href="#" data-action="tabs#selectTab" data-tabs-target="tab">Finished</a>
      </li>
    </ul>

    <div id="tab-ongoing" data-tabs-target="content" class="tab-content hidden">

      <% @games.select { |game| game.status == "ongoing" }.each do |game| %>
        <div class="card">
          <h2><%= link_to game.name, game_path(game), class: "card-title" %></h2>

          <div class="info">
            <span>Created by <%= game.players.first.nickname %></span>
            <p>📍Paris</p>
          </div>


          <div class="mapy">
            <div id="map-<%= game.id %>"style="width: 100%; height: 300px;"
                 data-controller="mapongoing"
                 data-mapongoing-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
                 data-mapongoing-latitude-value="<%= game.latitude %>"
                 data-mapongoing-longitude-value="<%= game.longitude %>"
                 data-mapongoing-layers-value="<%= Games::ComputeRunsLayers.new(game).call.to_json %>">
            </div>
          </div>

          <div class="status">
            <div>
              👤 <span><%= game.players.count %></span>
            </div>
            <% if game.duration.present? %>
              <div>
                ⏳ <span><%= game.duration %> days</span>
              </div>
            <% else %>
              <div>
                ⏳ <span>Duration unknown</span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div id="tab-pending" data-tabs-target="content" class="tab-content hidden">

      <% @games.select { |game| game.status == "pending" }.each do |game| %>
        <div class="card">
          <h2><%= link_to game.name, game_path(game), class: "card-title" %></h2>

          <div class="info">
            <span>Created by <%= game.players.first.nickname %></span>
            <p>📍Paris</p>
          </div>

          <div class="mapy">
            <div id="map" style="width: 100%; height: 300px;"
                 data-controller="mappending"
                 data-mappending-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
                 data-mappending-latitude-value="<%= game.latitude %>"
                 data-mappending-longitude-value="<%= game.longitude %>">
            </div>
          </div>

          <div class="status">
            <div>
              👤 <span><%= game.players.count %> / <%= game.nb_of_players %></span>
            </div>
            <% if game.duration.present? %>
              <div>
                ⏳ <span><%= game.duration %> days</span>
              </div>
            <% else %>
              <div>
                ⏳ <span>Duration unknown</span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div id="tab-finished" data-tabs-target="content" class="tab-content hidden">

      <% @games.select { |game| game.status == "finished" }.each do |game| %>
        <div class="card">
          <h2><%= link_to game.name, game_path(game), class: "card-title" %></h2>

          <div class="info">
            <span>Created by <%= game.players.first.nickname %></span>
            <p>📍Paris</p>
          </div>

          <div class="mapy">
            <div id="map-<%= game.id %>"style="width: 100%; height: 300px;"
                 data-controller="mapongoing"
                 data-mapongoing-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
                 data-mapongoing-latitude-value="<%= game.latitude %>"
                 data-mapongoing-longitude-value="<%= game.longitude %>"
                 data-mapongoing-layers-value="<%= game.instance_variable_get(:@layers).to_json %>">
            </div>
          </div>

          <div class="status">
            <div>
              🎮 <span><%= game.players.count %> / <%= game.nb_of_players %> players</span>
            </div>
            <% if game.duration.present? %>
              <div>
                ⏳ <span><%= game.duration %> days</span>
              </div>
            <% else %>
              <div>
                ⏳ <span>Duration unknown</span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
