<div data-controller="tabs">
  <ul class="tab-titles">
    <li>
      <a href="#" data-action="tabs#selectTab" data-tabs-target="tab">Ongoing</a>
    </li>
    <li>
      <a href="#" data-action="tabs#selectTab" data-tabs-target="tab">Pending</a>
    </li>
    <li>
      <a href="#" data-action="tabs#selectTab" data-tabs-target="tab">Finished</a>
    </li>
  </ul>


  <div id="tab-ongoing" data-tabs-target="content" class="tab-content hidden">
    <h2>Ongoing games</h2>
    <% @games.select { |game| game.status == "ongoing" }.each do |game| %>
      <div class="game-item">
        <h3><%= link_to game.name, game_path(game) %></h3>
        <p>Joueurs: <%= game.players.count %> / <%= game.nb_of_players %></p>
        <p>Fin prévue le: <%= game.end_date.strftime('%d %B %Y') if game.end_date.present? %></p>
      </div>
    <% end %>
  </div>

  <div id="tab-pending" data-tabs-target="content" class="tab-content hidden">
    <h2>Pending games</h2>
    <% @games.select { |game| game.status == "pending" }.each do |game| %>
      <div class="game-item">
        <h3><%= link_to game.name, game_path(game) %></h3>
        <p>Joueurs: <%= game.players.count %> / <%= game.nb_of_players %></p>
      </div>
    <% end %>
  </div>
  <div id="tab-finished" data-tabs-target="content" class="tab-content hidden">
    <h2>Finished games</h2>
    <% @games.select { |game| game.status == "finished" }.each do |game| %>
      <div class="game-item">
        <h3><%= link_to game.name, game_path(game) %></h3>
        <p>Finie le: <%= game.end_date.strftime('%d %B %Y') if game.end_date.present? %></p>
      </div>
    <% end %>
  </div>
</div>
