<%= form_with model: @game, local: true do |form| %>
  <% if @game.errors.any? %>
    <div class="alert alert-danger">
      <h2>Il y a des erreurs dans le formulaire :</h2>
      <ul>
        <% @game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "NAME OF THE GAME" %>
    <%= form.text_field :name, placeholder: "PARIS CONQUEST", required: true %>
  </div>

  <div class="field">
    <%= form.label :nb_of_players, "NUMBER OF PLAYERS" %>
    <%= form.number_field :nb_of_players, placeholder: "0", min: 1, required: true %>
  </div>

  <div class="field">
    <%= form.label :duration, "GAME DURATION (IN DAYS)" %>
    <%= form.number_field :duration, placeholder: "9", min: 1, required: true %>
  </div>

  <div class="field">
    <%= form.label :map_polyline, "CITY" %>
    <%= form.select :map_polyline,
      options_for_select(Game::MAP_POLYLINES.map { |city, polyline| [city, polyline] }),
      { include_blank: 'Select a city' },
      required: true %>
  </div>

  <div class="actions">
    <%= form.submit "CREATE GAME", class: "bt" %>
  </div>
<% end %>
